body {
  background-image: url('https://i.pinimg.com/originals/e5/40/08/e54008fec896ec085da559cf537d6f32.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

p {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Gallery Section */
.gallery {
  margin-top: 30px;
}

.gallery img {
  width: 250px;
  height: 250px;
  border: 3px solid rgb(27, 33, 58);
  border-radius: 10px;
  margin: 5px;
}

/* Flex Container Section */
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgreen;
  justify-content: center; /* Optional: centers the circles horizontally */
  padding: 20px; /* Added padding so circles don't touch the edge */
}

.container div {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Color Classes */
.pink {
  background-color: lightpink;
}

.yellow {
  /* Note: The RGB code provided is Blue (112, 145, 227), not Yellow */
  background-color: rgb(112, 145, 227);
}